.do {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}





.btn {
    font-size: 20px;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 10px;
}
.i{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

